*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F9F6EE;
}

.signupbox{
    width: 100%;
    display: flex;
    max-width: 850px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.signupform{
    width: 300px;
    margin: auto;
}

form{
    width: 250px;
    margin: 60px auto;
}

h2{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
}

p{
    text-align: center;
    margin: 10px;
}

input{
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #f9c701;
}

button:hover{
    background: #ad8a01;
}

p{
    margin: 20px;
}

a{
    color: black;
    text-decoration: none;
}


